*{
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

body{
    background-color: rgba(136, 131, 131, 0.418);
    font-family: 'Cantarell', sans-serif;
    font-family: 'Sigmar', cursive;
    /* font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vina Sans', cursive; */
    height: 100vh;
     }

/* HEADER */
.header{
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
.header_h1{
    text-align: left;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
}
.header_img{
    height: 50%;
    width: 50px;
    display: flex;
    float: left;
    margin: 5px;
}



/* NAVBAR */
.navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    background-color: black;    
    border-radius: 8px;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #bbb;
}
    li:last-child {
    border-right: none;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
  .active {
    background-color: rgb(59, 5, 255);    
  }

  li a:hover:not(.active) {
    background-color: #c7c6c6;
}
  


/* FORMULARIO */
.grid_formulario{
    display: grid;
    min-height: 300px;
    grid-template-columns: 60% 40%;
    gap: 20px 10px;
    align-content:space-between;
    background-color: white;
    
}
.formulario{
    padding: 5px;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
    border-style:ridge;
      
}

.imagen_form{
align-content: center;
text-align: center;
padding: 30px;
}

.ubicacion{
    align-content: center;
    text-align: center;
    padding: 30px;
       
}

.mapa{
align-content: center;
padding: 5px;
margin: 15px;
}



/* INDEX */
.item1 {grid-area: banner;}
.item2 {grid-area: lanzaminentos;}
.item3 {grid-area: imgul;}
.item4 {grid-area: novedades;}
.item5 {grid-area: imgn;}
.item6 {grid-area: newsletter;}


.grid-containerh {
    display: grid;
    grid-template-areas:
    'banner'
    'lanzaminentos'
    'imgul'
    'novedades'
    'imgn'
    'newsletter';
    gap: 5px;
    background-color: rgb(245, 242, 242);
    text-align: center;
}

body {
    margin:0;
  }

.banner {
    width: 100%;
    height: 400px;
}


.item2 {
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: 'Vina Sans', cursive;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 50px;
    font-weight: lighter;
}


.item3 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}

.imgul1 {
    width: 620px;
    height: 380px;
}

.imgul2 {
    width: 620px;
    height: 380px;
}


.item4 {
    padding-top: 60px;
    padding-bottom: 0px;
    font-family: 'Vina Sans', cursive;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 50px;
    font-weight: lighter;
}

.imgn1 {
    width: 340px;
    height: 420px; 
}

.imgn2 {
    width: 340px;
    height: 420px; 
}

.imgn3 {
    width: 340px;
    height: 420px; 
}


.item5 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.item6 {
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Vina Sans', cursive;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 30px;
}

.item6 p {
    /*font-family: 'Vina Sans', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}




/* ¿INICIO QUIENES SOMOS? */
.quienes_somos_img1{
    height: 375px;
    width: 550px;
    display: flex;
    float: right;
    margin: 40px;
    border-radius: 10px;
}

.quienes_somos p{
    font-size: 20px;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Sigmar', cursive;
    text-align: justify;
    font-style: oblique;
    font-weight: 900;
    
}

.parrafo1{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.parrafo2{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.quienes_somos_img2{
    height: 375px;
    width: 550px;
    display: flex;
    float: left;
    margin: 40px;
    border-radius: 10px;
}



/* FOOTER */
.footer{
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;    
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lista_footer a{
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.footer-links{
    padding-top: 20px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
}

.social-link a:hover{
    background-color: lightgrey;
}



/* PRODUCTOS */
.grid-container {
    min-height: 300px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px;
    gap: 20px 10px;
    align-content:space-between;
    margin: 5px;
    
}

.item {
    background: rgb(255, 255, 255);
    font-size: 2rem;
    display: grid;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
        
}

.item:hover{
    transform: scale(1.1);
    transition: transform .3s ;
}

.articulo {
    width: 95%;
    }

.item a{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 3px;
    border-radius: 8px;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vina Sans', cursive;
    width: 100%;
    }

.item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    align-items: center;
}