body{
    background-color: rgb(245, 245, 245)
}
.grid-container{
    display: grid;
    grid-template-rows: 10% 10% 60% 20%;
    grid-template-areas: 
    "header"
    "navbar" 
    "contenido"
    "footer";
    grid-gap: 3px;
    height: 100vh;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Sigmar', cursive; 
}

.item{
    padding: 10px;
    border-radius: 10px;
}

.header{
    grid-area: header;
    background-color: white;
    color: black;
    text-align: left;    
}

.imagen{
    width: 5%;
    height: 100%;
}
.navbar{
    grid-area: navbar;
    color: white;
    background-color: black;
             
}

.contenido{
    grid-area: contenido;
    background-color: white;
    color: black;
    height: auto;
}

.footer{
    grid-area: footer;
    color: white;
    background-color: black;
 }

ul{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    
}

li{
    display: block;
    }

li a{
width: 90%;
height: 90%;
text-align: center;
line-height: 20px;
}

li a{
text-decoration: none;
color: white;
font-weight: 1000;
}
