*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(136, 131, 131, 0.418);
    font-family: 'Cantarell', sans-serif;
    font-family: 'Sigmar', cursive;
    /* font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vina Sans', cursive; */
    height: 100vh;
     }

/* HEADER */
.header{
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
.header_h1{
    text-align: left;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
}
.header_img{
    height: 50%;
    width: 50px;
    display: flex;
    float: left;
    margin: 5px;
}

/* NAVBAR */
.navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    background-color: black;    
    border-radius: 8px;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #bbb;
}
    li:last-child {
    border-right: none;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
  .active {
    background-color: rgb(59, 5, 255);    
  }

  li a:hover:not(.active) {
    background-color: #c7c6c6;
}
  
/* FORMULARIO */
.grid_formulario{
    display: grid;
    min-height: 300px;
    grid-template-columns: 60% 40%;
    gap: 20px 10px;
    align-content:space-between;
    background-color: white;
    
}
.formulario{
    padding: 5px;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
    border-style:ridge;
      
}

.imagen_form{
align-content: center;
text-align: center;
padding: 30px;
}

.ubicacion{
    align-content: center;
    text-align: center;
    padding: 30px;
       
}

.mapa{
align-content: center;
padding: 5px;
margin: 15px;
}